html
  head
    link(rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css")
    link(rel="stylesheet" href="/dist/client.css")
    title!=title
  body
    div.app!=html
    script(src="/dist/client.js")
    script#state(type="application/json")!=JSON.stringify(state).replace(/</g, '&lt;').replace(/>/g,'&gt;')
